@page
@model TandemDMAModel
@{
    ViewData["Title"] = "TandemDMA Base";
}

<div class="text-center">
    <h1 class="display-4">Tandem DMA Page</h1>

    <form method="post">
        
        <label asp-for="Name">Name:</label><input asp-for="Name">
        <br>
        <label asp-for="Date">Date:</label><input type="date" asp-for="Date">
        <br>
        <label asp-for="SelectedExperimentID">Experiment</label><select id="ExperimentSelect" asp-for="SelectedExperimentID" asp-items="Model.ExperimentOptions"></select>
        <br>
        <label asp-for="SelectedSampleID">Sample</label><select id="SampleSelect" asp-for="SelectedSampleID" asp-items="Model.SampleOptions"></select>
        <br>
        <label asp-for="Description">Description</label><input asp-for="Description">
        <br>
        <label asp-for="SheathFlow">Sheath flow [L/min]:</label><input asp-for="SheathFlow">
        <br>
        <label asp-for="UpscanTime">Upscantime [s]:</label><input asp-for="UpscanTime">
        <br>
        <label asp-for="DownscanTime">Downscantime [s]:</label><input asp-for="DownscanTime">
        <br>
        <label for="MinDiameterDropDown">SMPS Min. diameter [nm]:</label>
        <select id="MinDiameterDropDown" name="MinDiameterDropDown">
            @{foreach(string option in TandemDMAModel.SMPSDiameterVector){
                <option value="@option">@option</option>

            }}
        </select>
        <br>
        <label for="MaxDiameterDropDown">SMPS Max. diameter [nm]:</label>
        <select id="MaxDiameterDropDown" name="MaxDiameterDropDown">
            @{foreach(string option in TandemDMAModel.SMPSDiameterVector){
                <option value="@option">@option</option>
            }}
        </select>
        <br>
        <label asp-for="SMPSDMAType">SMPS DMA Type:</label><input asp-for="SMPSDMAType">
        <br>
        <label for="MinDiameterDropDown">Min. Current [A]:</label>
        <select id="MinDiameterDropDown" name="MinDiameterDropDown">
            @{
            foreach(string option in TandemDMAModel.TandemDiameterVector){
                <option value="@option">@option</option>
            }}
        </select>
        <br>
        <label for="MaxDiameterDropDown">Max. Current [A]:</label>
        <select for="MaxDiameterDropDown" name="MaxDiameterDropDown">
            @{
            foreach(string option in TandemDMAModel.TandemDiameterVector){
                <option value="@option">@option</option>
            }}
        </select>
        <br>
        <label>Furnace Current [A]:</label><input>
        <br>
        <button class="btn btn-default">Start</button>
        <button type="submit" class="btn-default">Cancel</button>  
    </form>
    
</div>